* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hello {
  color: rgb(136, 107, 107);
  min-height: auto;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px solid black;
  padding: 15px;
  margin-top: 20px;
}